
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
}

.contactos {
    width: 20%;
    border-right: solid 3px #E8EBE4;
}

.personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #E8EBE4;
}

.perfil-usuario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.5vh;
}

.imagen-persona {
    width: 3.5rem; 
    height: 3.5rem; 
    border-radius: 50%;
    overflow: hidden; 
    padding: 0 1.5rem;
}

.nuevo-chat {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9.5vh;
    border-top: 3px solid #E8EBE4;
}

.boton-nuevo-chat {
    background-color: #A491D2;
    color: white;
    width: 12.5rem; 
    height: 4rem; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

.hands-net{
    height: 25vh;
    width: 25vh;
}


.principal {
    width: 80%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p {
    margin-top: 0.2em; 
    margin-bottom: 0.2em; 
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-right: 3rem;
}

.nombre-usuario{
    font-size: larger;
    font-weight: bolder;
}



.estado-usuario {
    font-size: medium;
    font-weight: lighter;
}

.mensaje{
    font-size: large;
}

.arriba{
    font-size: 60px;
}

.medio{
    font-size: 20px;
}

